* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: grid;
  height: 100vh;
}
.calculator {
  place-self: center;
  border: 1px solid black;
  padding: 20px;
}
#input {
  border: 2px solid #bbb;
  height: 80px;
  width: 600px;
  font-size: 60px;
}
#input::after {
  content: '';
  width: 2px;
  height: 42px;
  background-color: black;
  display: inline-block;
  animation: cursor-blink 1.2s steps(2) infinite;
}
.btnContainer {
  max-width: 600px;
  display: flex;
}
.numbers {
  display: flex;
  flex-wrap: wrap;
  min-width: 450px;
}
.numbers div,
.operators div {
  width: 150px;
  background-color: #bbb;
  border: 1px solid #ddd;
  border-radius: 1px;
  text-align: center;
  padding: 35px 10px;
  cursor: pointer;
}

.operators {
  display: flex;
  flex-wrap: wrap;
  min-width: 150px;
}
.operators div {
  width: 75px;
}

.operators .btn:last-child {
  width: 150px;
}

@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
}
